@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Projects";
}

<h1>Here are some of my works with its github links:</h1>
<table>
    <thead>
        <tr>
            <th>Subject</th>
        </tr>

    </thead>
    <tbody>
        <tr>

            <td><a href="https://github.com/tantountung/Calculator">Calculator</a>  </td>
        </tr>
        <tr>
            <td><a href="https://github.com/tantountung/assignment-2---Tanto">Hangman</a></td>
        </tr>
        <tr>
            <td><a href="https://github.com/tantountung/Sokoban">Sokoban</a></td>
        </tr>
    </tbody>

</table>

<code>This is made with Lexicons laptop</code>
