<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/MyStyle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Wonderful Me</h1>
        <nav>
            <ul>
                <li>
                    <a asp-action="About" asp-controller="Home">About Me</a>
                </li>
                <li>
                    <a asp-action="Contact" asp-controller="Home">Email Me</a>
                </li>
                <li>
                    <a asp-action="Projects" asp-controller="Home">My Works</a>
                </li>
                <li>
                    <a asp-action="Check" asp-controller="Doctor">Fever Check</a>
                </li>
            </ul>
        </nav>
    </header>
   
    <div>
        @RenderBody()
    </div>

    <footer>
        <p>&copy;Tanto Untung</p>
        <p>@DateTime.Now</p>
    </footer>
</body>
</html>
